<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" thread-count="2" parallel="tests" >

    <test name="CHROME_DE" thread-count="2" parallel="methods">
        <parameter name="browser" value="CHROME"/>
        <classes>
            <class name="org.qmwebsite.tests.QMWebsiteTestInDE" />
        </classes>
    </test>

    <test name="EDGE_ENG" thread-count="2" parallel="methods">
        <parameter name="browser" value="EDGE"/>
        <classes>
            <class name="org.qmwebsite.tests.QMWebsiteTestInENG" />
        </classes>
    </test>

    <test name="FIREFOX_PL" thread-count="2" parallel="methods">
        <parameter name="browser" value="FIREFOX"/>
        <classes>
            <class name="org.qmwebsite.tests.QMWebsiteTestInPL" />
        </classes>
    </test>


</suite>